fastapi==0.115.12
uvicorn[standard]==0.34.2
redis>=5.0.1
psycopg[binary]==3.2.7
sqlmodel==0.0.24
arq==0.28.0
blurhash==1.1.5
numpy==2.2.5
Pillow==11.2.1
pillow-heif==0.16.0
python-multipart==0.0.20
aiofiles==24.1.0
